[Unit]
Description=WireGuard Obfuscator
After=network.target

[Service]
ExecStart=wg-obfuscator -c /etc/wg-obfuscator.conf
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
