[Unit]
Description=WireGuard Obfuscator
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=wg-obfuscator -c /etc/wg-obfuscator.conf
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
