config wg_obfuscator 'main'
	option enabled '0'
	option source_lport '13255'
	option target '10.13.1.100:13255'
	option key 'test'
	option source_if '0.0.0.0'
	option masking 'AUTO'
	option verbose 'INFO'
	option max_clients '1024'
	option idle_timeout '300'
	option max_dummy_length_data '4'
	option fwmark '0'
	option static_bindings ''

config wg_obfuscator 'instance2'
	option enabled '0'
	option source_lport '13256'
	option target '10.13.1.101:13256'
	option key 'test2'
	option source_if '0.0.0.0'
	option masking 'STUN'
	option verbose 'DEBUG'
	option max_clients '512'
	option idle_timeout '600'
	option max_dummy_length_data '8'
	option fwmark '0'
	option static_bindings '1.2.3.4:12883:6670,5.6.7.8:12083:6679'